<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define the pattern of the log output -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} - %msg%n" />
    
    <!-- Define the log file location -->
    <property name="LOG_DIR" value="\Users\DELL\Downloads\thymeleafapp"/>
    <!-- local -->
    <!-- <property name="LOG_DIR" value="logs" /> -->

    <!-- Console appender configuration -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File appender configuration for monthly rolling -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/thymeleafApp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- monthly rollover -->
            <fileNamePattern>${LOG_DIR}/thymeleafApp.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 6 months worth of history -->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>