<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
<!-- Navbar Fragment -->
<nav th:fragment="navbar" class="bg-black text-white flex justify-between items-center p-4 shadow-md">
    <!-- App Name -->
    <div class="text-2xl font-bold">
        <a th:href="@{/sayhello}" class="hover:text-gray-300"><h1 class="text-2xl font-bold">💰 Finance Manager</h1></a>
    </div>

    <!-- Logout Icon -->
    <div>
        <a th:href="@{/}" class="text-white text-2xl hover:text-red-500 transition">
           ➡️
        </a>
    </div>
</nav>
</body>
</html>
